{% extends 'base.html' %}

{% block content %}

<section class="jumbotron text-center">
    <div class="container">
      <h1>The 90s Football</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
      <p>
        <a href="#" class="btn btn-primary my-2">Main call to action</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        {% for product in products %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="product" width="100%" height="225" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
            <div class="card-body">
                <h3>{{ product.name }}</h3>
                <p class="card-text">{{ product.description }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <form method="post" action="{% url 'add_to_cart' product.id %}">
                        {% csrf_token %}
                        <div class="btn-group">
                            <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                            <span class="input-group-btn">
                                <button class="btn btn-sm btn-outline-secondary" type="submit">Add</button>
                            </span>
                        </div>
                    </form>
                    <small class="text-muted">{{ product.price }}</small>
                </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
</div>

<!-- <div class="row row-flex">
    {% for product in products %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
            <div class="panel-body">
                <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>

                <h3>{{ product.name }}</h3>
                <p class="product-description">{{ product.description }}</p>
                <p>{{ product.price }}</p>

                <form method="post" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    {% endfor %}
</div> -->
{% endblock %}