/*-------------------- Navbar Page --------------------*/
.website-logo {
  padding-right: 10px;  
  width: auto;
  height: 40px;
}

.navbar-dark .navbar-nav .active > .nav-link:hover {
  color: #28A745;
}

.fa-user {
    padding-right: 5px;
}

.fa-sign-out {
padding-right: 3px;
}

/*-------------------- Index Page --------------------*/
body {
    font-family: Arial;
    padding-top: 100px;
    height: 100%;
    margin: 0px;
}

#content {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
}

.btn-primary {
    color: #fff;
    background-color: #28A745;
    border-color: #28A745;
}

.btn-primary:hover {
    color: #28A745;
    background-color: #fff;
    border-color: #28A745;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

.jumbotron {
    padding-top: 6rem;
    padding-bottom: 4rem;
    margin-bottom: 0;
    background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

/*-------------------- Product --------------------*/
#product-section {
    padding-bottom: 3rem;
}

#preferences-link {
    color: #2DBD24;
    font-size: 20px;
    font-weight: 600;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem #2DBD24!important;
}

.bg-light {
    background-color: #fff!important;
}

.small, small {
    font-size: 18px;
    font-weight: 400;
}

#recently-added {
    color: #2DBD24;
    font-size: 2rem;
    font-weight: 600;
    padding-left: 15px;
    padding-bottom: 20px;
}

.card-title {
    color: #212529;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.card-text {
    color: #212529;
    font-size: 16px;
    text-align: center;
}

.search-bar-container {
  width: 100%;
}

.search-bar-margin-bottom {
  margin-bottom: 10px;
}

form.search-bar input[type="text"] {
    padding: 5px;
    margin-top: 10px;
    font-size: 15px;
    border: 1px solid #28A745;
    width: 85%;
}

form.search-bar button {
    width: 7%;
    padding: 7px;
    background: #28A745;
    color: white;
    font-size: 15px;
    border-radius: 15%;
    border: none;
}

form.search-bar button:hover {
  background: #2DBD24;
}

/*-------------------- Cart Page --------------------*/
.cart-button {
    color: #fff;
    background-color: #28A745;
    border-color: #28A745;
    font-size: 16px;
    text-align: center;
    margin-bottom: 3px;
}

.cart-button:hover {
    color: #28A745;
    background-color: #fff;
    border-color: #28A745;
    font-size: 16px;
    text-align: center;
    margin-bottom: 3px;
}

/*-------------------- My Account Page --------------------*/
#sidebarMenu {
    z-index: auto;
}

.sidebar .nav-link:hover {
  color: #28A745;
}

#profile-list {
    margin-top: 15px;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*------------Footer------------*/
#page-footer {
    background-color: #212529;
    position: absolute;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#page-footer .row {
    margin: 0px;
}

.footer p {
  margin-bottom: .25rem;
}

#footer-logo p {
    font-size: 28px;
    color: #fff;
    margin: 0;
}

#footer-copyright p {
    font-size: 16px;
    font-weight: 200;
    color: #fff;
    margin: 0;
    text-align: center;
    padding-top: 5px;
}

.footer-icon {
    font-size: 24px;
    font-weight: 400;
    color: #28A745;
}


/*-------------------- RESPONSIVE CSS --------------------*/
/*---------- Cart Page ----------*/
@media (max-width: 572px) {
  .cart-responsive {
    text-align: center;
    margin-bottom: 3px;
  }
}

/*---------- Index Page ----------*/
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

/*--- Phones ---*/
@media only screen and (max-device-width: 736px) {
    div.container:nth-child(1) > h1:nth-child(1) {
        font-size: 28px;
    }

    .navbar-brand {
        font-size: 18px;
    }

    .lead {
        font-size: 16px;
    }

    #recently-added {
        font-size: 28px;
    }

    .card-title {
        font-size: 18px;
    }

    .card-text {
        font-size: 13px;
    }

    .jumbotron {
    padding-top: 2rem;
    }

    form.search-bar input[type="text"] {
        width: 75%;
    }

    form.search-bar > button:nth-child(2) {
        width: 10%;
    }

    #preferences-link {
        font-size: 18px;
    }

    table.input-group {
        width: 81%;
    }

    #search {
        display: none;
    }

    .account-nav-link {
        display: inline;
        font-size: 13px;
        color: #28A745;
        font-weight: 600;
        text-decoration: underline;
        text-decoration-color: #333;
    }
    
    .account-nav-link:hover {
        color: #28A745;
    }

    .table-responsive {
        overflow-x: hidden;
    }

}

/*--- Tablets ---*/
@media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 1) {

    #search {
        display: none;
    }

    .card-title {
        font-size: 16px;
    }

    .card-text {
        font-size: 12px;
    }

    #home-card-button {
        width: 100%;
        height: 60%;
        font-size: 12px;
    }

    #home-card {
        height: 92%;
    }

    #home-price {
        font-size: 14px;
    }

    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 3rem;
    }

    #product-card {
        height: 92%;
    }

    #product-price {
        font-size: 14px;
        margin-left: 19px;
    }

    #product-card-button {
        width: 100%;
        height: 60%;
        font-size: 12px;
    }

    .form-group {
        width: 40%;
    }

    .btn.btn-primary {
        margin-left: 10px;
    }

    #cart-total {
        width: 25%;
    }
}
