/*-------------------- Index Page --------------------*/
body {
    font-family: Arial;
    padding-top: 100px;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}


/*-------------------- Cart Page --------------------*/
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    font-size: 16px;
    text-align: center;
    margin-bottom: 3px;
}
   

/*-------------------- RESPONSIVE CSS --------------------*/

/*---------- Cart Page ----------*/
@media (max-width: 572px) {
  .cart-responsive {
    text-align: center;
    margin-bottom: 3px;
  }
}

/*---------- Index Page ----------*/
@media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}