{% extends "base.html" %}

{% block page_title %}Checkout{% endblock %}

{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock head_js %}

{% block content %}
{% if messages %}
<div class="alert alert-success">
    <div class="messages">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
</div>
{% endif %}
<!-- Checkout Form -->
<form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
    <!-- Shipping Address -->
    <div class="row">       
        <div class="form-group col-md-12">
            <legend>Shipping Details</legend>
            {{ shipping_form | as_bootstrap }}
        </div>
    </div>
    <div class="row">
        <!-- Error Messages -->
        <div id="credit-card-errors" style="display: none;">
            <div class="alert-message block-message error" id="stripe-error-message"></div>
        </div>
        <!-- Billing Info -->
        <div class="form-group col-md-6">
            <legend>Billing Details</legend>
            {{ billing_form | as_bootstrap }}
        </div>
        <!-- Credit Card Info -->
        <div class="form-group col-md-6">
            <legend>Credit Card Details</legend>
            {{ payment_form | as_bootstrap }}
        </div>
        {% csrf_token %}
        <div class="form-group col-md-12">
            <input class="btn btn-primary" name="commit" type="submit" value="Submit Payment">
        </div>
    </div>
</form>
{% endblock %}