{% load static from staticfiles %}
{% load bootstrap_tags %}

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="sidebar-sticky pt-3">
            <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'profile' %}">
                <span data-feather="home"></span>
                My Account <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'payment' %}">
                <span data-feather="file"></span>
                Payment Information
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                <span data-feather="shopping-cart"></span>
                Billing Information
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">
                <span data-feather="users"></span>
                Account Details
                </a>
            </li>
            </ul>
        </div>
        </nav>
        {% block content %}
        {% endblock %}
    </div>
</div>