{% extends 'base.html' %}

{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block page_title %}{{user}}'s' Profile{% endblock %}

{% block page_heading %}{{user}}'s' Profile{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'billing_info' %}">
              <span data-feather="home"></span>
              Billing Information <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file"></span>
              Shipping Information
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="shopping-cart"></span>
              Payment Information
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="users"></span>
              Account Details
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <form role="form" method="post" id="billing-form" action="{% url 'billing_info' %}">
                <div class="row">
                    <div class="form-group col-md-6">
                        <legend>Billing Details</legend>
                        {{ billing_form | as_bootstrap }}
                    </div>
                    {% csrf_token %}
                    <div class="form-group col-md-12">
                        <input class=" btn btn-primary" id="submit_billing_btn" name="commit" type="submit" value="Submit Billing">
                    </div>
                </div>
            </form>
        </div>
    </main>
  </div>
</div>
{% endblock %}
