{% extends 'base.html' %}

{% block page_title %}Fan Information{% endblock %}

{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
{% include 'account.html' %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
<div class="overlay"></div>
<div class="container">
    {% if messages %}
    <div class="row">
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
	<div class="row">
		<div class="col">
			<hr>
			<h2 class="logo-font mb-4">Fan Information</h2>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-lg-6">
			<form class="mt-3" action="{% url 'fan' %}" method="post" id="fan">
                <label for="fan">Please let us know you favorite club, players, shirts and shirt size:</label><br><br>
				{% csrf_token %}
				{{ fan_form | as_bootstrap }}
				<button class="cart-button btn btn-primary float-left ml-2 cart-responsive" type="submit">Update Information</button>
			</form>
		</div>
	</div>
</div>
</main>
{% endblock %}