{% extends 'base.html' %}

{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
{% include 'account.html' %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
<div class="overlay"></div>
<div class="container">
	<div class="row">
		<div class="col">
			<hr>
			<h2 class="logo-font mb-4">Payment Information</h2>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-lg-6">
			<h5 class="logo-font my-3">Default Payment Information:</h5>
			<form class="mt-3" action="{% url 'payment' %}" method="post" id="payment-update-form">
				{% csrf_token %}
				{{ payment_form | as_bootstrap }}
				<button class="btn btn-black rounded-0 text-uppercase float-right" type="submit">Update Information</button>
			</form>
		</div>
	</div>
</div>
</main>
{% endblock %}