{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
{% if messages %}
<div class="alert alert-success">
    <div class="messages">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
</div>
{% endif %}
<div class="table-responsive">
    <table class="table">
    <h4>Order Summary</h4>
    <thead>
        <tr class="table-active">
        <th scope="col">Product</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total Price</th>
        <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    {% for item in cart_items %}
        <tr>
        <td>{{ item.product.name }}</td>
        <td>£{{ item.product.price }}</td>
        <td>{{item.quantity}}</td>
        <td>
            <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                {% csrf_token %}
                <div class="form-group">
                    <div class="input-group">
                        <input name="quantity" type="number" min="0" max="999" class="form-control" placeholder="{{item.quantity}}">
                     </div>
                </div>
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Modify</button>
            </form>
        </td>
        </tr>
    {% endfor %}
        <tr>
            <td colspan="3"><b>Order Total</b></td>
            <td colspan="2"><b>£{{ total }}</b></td>
         </tr>
         <tr>
            <td colspan="5">
               <!-- User can either continue shopping or proceed to the checkout page -->
              <a href="{% url 'checkout' %}" class="cart-button btn btn-primary float-left ml-2 cart-responsive" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
              <a href="{% url 'index' %}" class="cart-button btn btn-primary float-left ml-2 cart-responsive" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Continue Shopping</a>
            </td>
         </tr>
    </tbody>
    </table>
</div>
{% endblock %}